{% extends "boardgames/base.html" %}
{% block content %}

{% if user.is_superuser %}
<div style="text-align: left;margin-top:5%">
    <button class="icon-btn add-btn">
        <div class="add-icon"></div>
        <div class="btn-txt"><a href="{% url 'game-create' %}">Add new</a></div>
    </button>
</div>
{% endif %}

{% for game in games %}
<h2><a class="article-title" href="{% url 'game-detail' game.id %}">
        {{game.name}}</a></h2>
{% endfor %}

{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">&laquo;</a>
<a class="btn btn-outline-info mb-4" href="{{ pag_obj.previous_page_number }}">&lsaquo;</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
{% endif %}

{% endif %}

{% endblock %}